body {
  margin: 0px;
}

header {
  font-family: "Macondo Swash Caps", cursive;
  text-align: center;
  background-image: url("fundo3.png");
  background-repeat: repeat;
  padding-bottom: 15px;
  padding-top: 30px;
  height: 180px;
}

header h2 {
  font-size: 30px;
}

h1 {
  font-size: 50px;
  margin-top: 0px;
}

#titulo {
  width: 600px;
  background-color: rgba(255, 255, 255, 0.7);
  margin-left: auto;
  margin-right: auto;
  padding-bottom: 7px;
  padding-top: 10px;
  border-radius: 10px;
}
nav {
  background-color: #FFFACD;
  margin-bottom: 10px;
  margin-top: 0px;
  margin-bottom: 50px;
  border-bottom: 1px solid black;
  position: sticky;
  top: 0;
}

a {
  text-decoration: none;
  color: black;
}

a:hover {
  text-decoration: underline;
}

ul{
  margin-top:0px;
  display: flex;
  justify-content: center;
}

li {
  font-size: 20px;
  padding-left: 70px;
  margin: 7px;
  list-style: none;

}

p {
  text-align: justify;
  font-size: 18px;
  font-family: 'Raleway', sans-serif;
}

h2 {
  text-align: center;
  font-family: "Macondo Swash Caps", cursive;
  font-size: 32px;
}

h3 {
  text-align: center;
  font-family: "Macondo Swash Caps", cursive;
  font-size: 24px;
  margin: 0px;
}

h4 {
  text-align: center;
  font-family: 'Raleway', sans-serif;
  font-size: 20px;
}

main > p {
  width: 1100px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 60px;
}

.Disney-vs-Nick {
  width: 350px;
  padding-left: 20px;
  padding-right: 20px;
  border-radius: 10%;
  background-color: lightgray;
  position: absolute;
  left: -500px;
  margin-top: 50px;
  clear: both;
  margin-left: auto;
  margin-right: auto;
}

#vs {
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 50px;
  width: 10%;
  position: relative;
  border: 1px solid black;
  border-radius: 50%;
  box-shadow: 12px 12px 2px 1px lightgray;
}

/*Página filmes*/

body > section {
  margin-top: 30px;
  margin-bottom: 150px;
  margin-left: 20px;
  margin-right: 20px;
  width: 1500px;
  font-size: 24px;
}

#filmes-disney {
  background-image: linear-gradient(#00688B, white 15%, #00688B 140%);
  padding: 30px;
  padding-bottom: 70px;
  margin-left: 40px;
  margin-right: 40px;
  border: 1px solid black;
}

#filmes-disney h3 {
  color: white;
}

#filmes-disney article {
  clear: both;
  margin: 70px;
}

#filmes-disney img {
  margin-right: 10px;
  margin-bottom: 70px;
  margin-left: 10px;
  border: 3px solid black;
}

#filmes article:nth-child(odd) img {
  float: left;
}

#filmes article:nth-child(even) img {
  float: right;
}

#filmes article:nth-child(odd) p {
  margin-right: 100px;
  padding-top: 10px;
}

#filmes article:nth-child(even) p {
  margin-left: 100px;
  padding-top: 40px;
}

#let-it-shine_img{
  width: 130px;
  height: 200px;
}

#camp-hsm_img, #stars-hannah_img, #lemonade-teen_img {
  width: 300px;
}

#filmes-nick {
  margin: 100px;
  border: 5px solid #FF8000;
  padding: 30px;
}

#filmes-nick img {
  height: 230px;
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 20px;
  margin-bottom: 30px;
}

#filmes .click {
  position: absolute;
  left: 60%;
}

/*Página séries*/

#series .click {
  position: absolute;
  left: 38%;
  top: 1200px;
}

#img-disney {
  background-image: url("series-disney.png");
  background-repeat: repeat;
  margin-left: 0px;
  margin-right: 0px;
  margin-bottom: 50px;
  margin-top: 100px;
}

#img-nick {
  background-image: url("series-nick.png");
  background-repeat: repeat;
  margin-left: 0px;
  margin-right: 0px;
  margin-top: 50px;
  margin-bottom: 50px;
}

#series-disney {
  width: 500px;
  float: left;
  margin-left: 20px;
  padding: 15px;
  background-image: linear-gradient(to right bottom, skyblue, white);
  border-radius: 10px;
}

#series-nick {
  width: 500px;
  float: right;
  margin-right: 20px;
  background-image: linear-gradient(to left bottom, #FFAE3C, white);
  padding: 15px;
  border-radius: 10px;
}

#series-disney h3, #series-nick h3 {
  margin-bottom: 40px;
}

#series #vs {
  float: left;
  left: 10%;
}

/*Página créditos*/

#creditos img {
  width: 130px;
  border-radius: 50%;
  border: 2px solid black;
  position: relative;
  top: -20px;
  margin: 10px;
}

#creditos p {
  width: 1200px;
}

#alice img {
  float: right;
  clear: right;
}

#dani img {
  float: left;
  clear: left;
}

#dani {
  clear: right;
  margin-right: 100px;

}

#alice {
  margin-top: 60px;
  margin-left: 200px;
  margin-right: 20px;
}

#creditos .principal {
  margin-bottom: 0px;
}

#nota {
  font-size: 14px;
  position: relative;
  left: -5%;
}

#agradecimentos {
  margin-top: 120px;
  margin-left: 90px;
  margin-right: 60px;
  margin-bottom: 90px;
  padding: 20px;
  background-image: linear-gradient(to left bottom, #1E90FF, white, orange 95%);
  border: 1px solid black;
  border-radius: 10px;
}

#agradecimentos p, #direitos p {
  margin-left: auto;
  margin-right: auto;
}

/*Página se lembra*/

#container {
    margin : 20px auto;
    background-color: white;
    height: 300px;
    width : 850px;
    border-radius: 5px;
    box-shadow: 0px 5px 15px 0px;
    position: relative;
    margin-bottom: 100px;
}
#comecar {
    font-size: 1.5em;
    font-weight: bolder;
    width: 20%;
    padding: 20px 5px;
    border : 2px solid lightgrey;
    text-align: center;
    cursor: pointer;
    position: absolute;
    top: 35%;
    left: 40%;
    color : lightgrey;
}
#comecar:hover {
    border: 3px solid lightseagreen;
    color : lightseagreen;
}

#pImg {
    width : 200px;
    height : 200px;
    position: absolute;
    left : 0px;
    top : 0px;
}
#pImg img {
    width : 200px;
    height : 200px;
    border-top-left-radius: 5px;
}

#pergunta {
    width:500px;
    height : 125px;
    position: absolute;
    right:0;
    top:0;
}
#pergunta p {
    margin : 0;
    padding : 15px;
    font-size: 1.25em;
}

#opcoes {
    width : 610px;
    position: absolute;
    right : 0;
    top : 125px;
    padding : 10px
}
#opcoes article {
    display: inline-block;
    width : 135px;
    text-align: center;
    border : 1px solid grey;
    border-radius: 5px;
    cursor: pointer;
    padding : 5px;
}
#opcoes article:hover {
    border : 2px solid grey;
    font-weight: bold;
}

#cronometro {
    position: absolute;
    height : 100px;
    width : 200px;
    bottom : 0px;
    text-align: center;
}
#contador {
    font-size: 3em;
}
#bindicadorTempo {
    width : 150px;
    height : 10px;
    border-radius: 10px;
    background-color: lightgray;
    margin-left : 25px;
}
#indicadorTempo {
    height : 10px;
    border-radius: 10px;
    background-color: mediumseagreen;
    margin-top : -10px;
    margin-left : 25px;
}
#progresso {
    width : 500px;
    position: absolute;
    bottom : 0px;
    right : 0px;
    padding:5px;
    text-align: right;
}
.prog{
    width : 25px;
    height : 25px;
    border: 1px solid #000;
    display: inline-block;
    border-radius: 50%;
    margin-left : 5px;
    margin-right : 5px;
}
#containerNota{
    margin : 20px auto;
    background-color: white;
    opacity: 0.8;
    height: 300px;
    width : 700px;
    border-radius: 5px;
    box-shadow: 0px 5px 15px 0px;
    position: relative;
    display: none;
}
#containerNota img{
    position: absolute;
    top:100px;
    left:325px;
}
#containerNota p{
    position: absolute;
    display: block;
    width : 59px;
    height :59px;
    top:130px;
    left:325px;
    font-size: 1.5em;
    font-weight: bold;
    text-align: center;
}

video {
  display: block;
  margin: 20px auto;
  width: 25%;
}

aside{
  position: relative;
  top: -40px;
  left: 15%;
}
